<div class="container" style="margin-top: 150px">
  <div class="nav justify-content-center py-4" style="background-color: #3f51b5">
    <h2 class="white-text">Buna ziua stimate doctor!</h2>
  </div>
  <nav class="nav nav-pills mdb-color lighten-4 py-1 nav-fill">
    <a class="nav-item m-1 nav-link active" (click)="changeToDonationsStatus()">Vezi statusurile donarilor</a>
    <a class="nav-item m-1 nav-link active" (click)="changeToForm()">Completeaza chestionar pentru cerere de sange</a>
  </nav>
</div>
<!--DIV FOR "COMPLETEAZA CHESTIONAR-->
<div class="container grey lighten-4" style="min-height: 500px">

  <!--DIV FOR "COMPLETEAZA CHESTIONAR-->
  <div *ngIf="isLastDonations()">
    <h3 class="black-text text-center strong pt-4">Acestea sunt ultimele donatii</h3>
    <table class="table table-striped table-bordered mt-4">
      <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Numele Pacientului</th>
        <th scope="col">Numele donatorului</th>
        <th scope="col">Clinica</th>
        <th scope="col">Data donarii</th>
        <th scope="col">Statusul donarii</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dStatus of donationStatus">
        <th scope="row">{{donationStatus.indexOf(dStatus)}}</th>
        <td>{{dStatus.patient}}</td>
        <td>{{dStatus.donor}}</td>
        <td>{{dStatus.centre}}</td>
        <td>{{dStatus.date}}</td>
        <!--<td data-toggle="tooltip" data-placement="top" title="Avem {{dStatus.quantityAvailable}} din {{dStatus.quantityRequired}} litri">-->
          <!--<div class="progress" >-->
            <!--<div class="progress-bar" role="progressbar" [ngStyle]="{'width': dStatus.quantityAvailable/dStatus.quantityRequired * 100 + '%'}"-->
                 <!--[attr.aria-valuenow]="dStatus.quantityAvailable" aria-valuemin="0" [attr.aria-valuemax]="dStatus.quantityRequired"></div>-->
          <!--</div>-->
        <!--</td>-->
        <td>{{dStatus.status}}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <div *ngIf="isForm()">
    <h3 class="black-text text-center strong p-4">Completati o cerere de sange</h3>
    <!-- Default form register -->
    <form class="text-center border border-light p-5">

      <br>
      <p class="h6 mb-4">Date pacient</p>
      <div class="form-row mb-4">
        <div class="col">
          <!-- Last name -->
          <input [(ngModel)]="bloodRequest.lastName" type="text" id="formLastName" name="defaultRegisterFormLastName" class="form-control" placeholder="Nume pacient">
        </div>
        <div class="col">
          <!-- First name -->
          <input [(ngModel)]="bloodRequest.firstName" type="text" id="formFirstName" name="defaultRegisterFormFirstName" class="form-control" placeholder="Prenume pacient">
        </div>
      </div>

      <!-- Clinica -->
      <p class="h6 mb-2">Nume clinica</p>
      <div class="form-row mb-4">

        <select [(ngModel)]="bloodRequest.centre" name="patientClinic" class="browser-default custom-select">
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let location of locations" value="{{location.name}}">{{location.name}} de la adresa {{location.address}}</option>
        </select>
      </div>

      <!-- Cantitate necesara -->
      <p class="h6 mb-2">Detalii cerere</p>
      <div class="form-row mb-4">
        <label>Pacientul are nevoie de: </label>
        <input [(ngModel)]="bloodRequest.bloodQty" name="quantity" id="quantity" type="number" value="0" class="form-control inputQuantity" placeholder="" aria-describedby="defaultQuantityHelpBlock">
        <label> litri.</label>
      </div>
      <div class="form-row">

        <label for="additionalDetails"><i class="fa fa-pencil prefix"></i>Introduceti detalii suplimentare</label>
        <textarea [(ngModel)]="bloodRequest.details" type="text" name="additionalDetails" id="additionalDetails" class="md-textarea form-control" rows="3"></textarea>

      </div>

      <!-- Inregistreaza cererea -->
      <div class="form-row">
        <div class="col">
          <button (click)="submitBloodRequest()" type="submit" class="btn btn-success my-4 btn-block">Inregistreaza cererea</button>
        </div>
        <div class="col">
          <button type="reset" class="btn btn-danger my-4 btn-block">Sterge cererea</button>
        </div>
      </div>

      <hr>
    </form>
  </div>
  <!--DIV FOR "COMPLETEAZA CHESTIONAR-->
</div>
<div mdbModal #frameSuccess="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Succes!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frameSuccess.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Cererea facuta de tine a fost reusita</p>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</div>
<div mdbModal #frameFail="mdbModal" class="modal fade right" id="frameModalTop2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">Ne pare rau!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frameFail.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>{{failMessage}}</p>
        </div>
      </div>
      </div>
    <!--/.Content-->
  </div>
</div>
