
<div class="container" style="margin-top: 150px">
  <div class="nav justify-content-center py-4" style="background-color: #3f51b5">
    <p class="red-text">Ai donat ultima data acum 10 zile</p>
  </div>
  <nav class="nav nav-pills mdb-color lighten-4 py-1 nav-fill">
    <a class="nav-item m-1 nav-link active" (click)="changeToForm()">Completeaza chestionar</a>
    <a class="nav-item m-1 nav-link active" (click)="changeToLastDonations()">Vezi donarile anterioare</a>
  </nav>
</div>

<!--DIV FOR "COMPLETEAZA CHESTIONAR-->
<div class="container grey lighten-4">
  <div *ngIf="isForm()">
    <!-- Default form register -->
    <form class="text-center border border-light p-5">

      <p class="h4 mb-4">Pentru a va verifica eligibilitatea pentru donarea de sange va rugam sa completati chestionarul urmator</p>


      <div class="form-row mb-4">
        <!--<div class="col">-->
          <!--&lt;!&ndash; First name &ndash;&gt;-->
        <!--</div>-->
        <div class="text-left col">
          <label class="bs-switch">
            1. Credeti ca aveti o stare buna de sanatate?
            <input [(ngModel)]="donationsForm.q1" name="q1" type="checkbox" class="ml-2">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="text-left col">
          <label class="bs-switch">
            2. Urmati vreun tratament medicamentos?
            <input [(ngModel)]="donationsForm.q2" name="q2" type="checkbox" class="ml-2">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="text-left col">
          <label class="bs-switch">
            3. In ultimele 12 luni ati avut contact sexual cu un partner cu:
            <select [(ngModel)]="donationsForm.q3" name="q3" multiple>
              <option value="un partener hiv positiv" class="mr-4">un partener hiv positiv</option>
              <option value="un partener care se drogheaza prin injectii">un partener care se drogheaza prin injectii</option>
              <option value="un partener care este platit pentru sex">un partener care este platit pentru sex</option>
              <option value="un partener cu hemofilie">un partener cu hemofilie</option>
              <option value="un partener cu hemofilie">parteneri multiplii</option>
            </select>
          </label>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="text-left col">
          <label class="bs-switch">
            4. De la ultima donare, sau in ultimele 12 luni ati suferit:
            <select [(ngModel)]="donationsForm.q4" name="q4" multiple>
              <option value="o interventie chirurgicala?" class="mr-4">o interventie chirurgicala?</option>
              <option value="tatuaje, acupunctura, gauri pentru cercei?" class="mr-4">tatuaje, acupunctura, gauri pentru cercei?</option>
              <option value="ati fost transfuzata?" class="mr-4">ati fost transfuzata?</option>
              <option value="ati fost insarcinata?" class="mr-4">ati fost insarcinata?</option>
            </select>
          </label>
        </div>
      </div>

      <!-- Newsletter -->
      <div class="custom-control custom-checkbox">
        <input [(ngModel)]="donationsForm.receiveOnMail" type="checkbox" class="custom-control-input" name="receiveResultOnEmail" id="receiveResultOnEmail">
        <label class="custom-control-label" for="receiveResultOnEmail">Primeste rezultatul pe email</label>
      </div>

      <!-- Sign up button -->
      <button (click)="submitDonationForm()" class="btn btn-info my-4 btn-block" type="submit">Submite rezultatul</button>
      <hr>

      <!-- Terms of service -->
      <p>Poti vedea chestionarul complet si termenii si conditiile
        <a href="http://storage1.dms.mpinteractiv.ro/media/1/1481/10386/14870715/2/chestionar-pentru-donatorul-de-sange.pdf" target="_blank">aici</a>.</p>

    </form>
    <!-- Default form register -->
  </div>

  <!--DIV FOR "COMPLETEAZA CHESTIONAR-->
  <div *ngIf="isLastDonations()">
    <h3>Buna stimabile Domn! Mai jos gasiti donarile dumneavoastra!</h3>
    <table class="table table-bordered mt-4">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pentru cine ai donat</th>
        <th scope="col">Data donarii</th>
        <th scope="col">Clinica</th>
        <th scope="col">Detalii</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pastDonation of lastDonations">
        <th scope="row">{{lastDonations.indexOf(pastDonation)}}</th>
        <td>{{pastDonation.patientFirstName}} {{pastDonation.patientLastName}}</td>
        <td>{{pastDonation.date}}</td>
        <td>{{pastDonation.clinic}}</td>
        <td>{{pastDonation.details}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--DIV FOR "COMPLETEAZA CHESTIONAR-->
  <br>
  <h2 class="text-center mt-4">Locatiile in care poti dona sunt urmatoarele</h2>
  <div class="mt-4">
    <div *ngFor="let location of locations" class="border border-light jumbotron">
      <h4>{{location.name}}</h4>
      <p class="lead">Adresa unitatii: {{location.address}}</p>
      <hr class="my-4">
      <p>Telefon de contact: {{location.contact}}/{{location.alt_contact}}</p>
    </div>
  </div>

</div>
